<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header %>
  </head>
    <body>
      <div class="splash-container">
          <div class="splash">
              <h1 class="splash-head">Tiny URL.</h1>
              <p class="splash-subhead"> We make your big things small.</p>
                <div class="splash_subform">
                  <form class="pure-form" action="/login" method="POST">
                    <fieldset>
                      <legend>Login to start shortening URLs. Or don't.</legend>
                        <input type="email" placeholder="Email" id="email" name="email">
                        <input type="password" placeholder="Password" id="password" name="password">
                      <button type="submit" class="pure-button pure-button-primary" style="background: #2d3e50;">Sign in</button>
                  </fieldset>
                </form>
              </div>
          </div>
      </div>
    </body>
</html>