<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header %>
  </head>
      <body>
          <h1>Register for TinyURL</h1>
            <form action="/register" method="POST">
              <label for="email">Enter a email:</label>
              <input id="email" type="email" name="email" style="width: 300px"><br/>
              <label for="password">Enter a password:</label>
              <input id="password" type="password" name="password" style="width: 300px">
              <input type="submit" value="Submit">
          </form>
      </body>
</html>