<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header %>
  </head>
  <body>
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Tiny URL.</h1>
              <div class="splash_subform">
                <form class="pure-form" "/register" method="POST">
                  <fieldset>
                    <legend>Register for TinyURL</legend>
                      <input type="email" placeholder="Email" id="email" name="email">
                      <input type="password" placeholder="Password" id="password" name="password">
                    <button type="submit">Register</button>
                </fieldset>
              </form>
            </div>
        </div>
    </div>
  </body>
</html>