<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header %>
  </head>
    <body>
      <div class="content-wrapper">
        <div class="content is-center">
          <h1 class="content-head is-center">Update URL</h1>
          <h3 class="is-center"><%= shortURL + " - "%><a href="<%= longURL %>"><%= longURL %></a></h3>
          <form class="pure-form" method="POST" action="/urls/<%= shortURL %>/update">
            <fieldset>
              <legend style="width: 30%;">Enter a new URL</legend><br/>
              <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
              <button type="submit" class="pure-button pure-button-primary" style="margin-top: -15px;">Update</button>
            </fieldset>
          </form>
          <button type="button" class="pure-button pure-button-primary" style="background: #2d3e50; width: 300px;" onclick="location.href='/urls';">Go Back to URLs</button>
        </div>
      </div>
    </body>
</html>